{{ "<!-- ASIDE -->" | safeHTML }}
<aside class="bg-yellow-gradient">
    <div class="container text-center">
        <div class="call-to-action">


                <ins id="afiliateHu" data-ad-client="84665" data-ad-width="220" data-ad-height="300" data-ad-link="_parent" data-ad-cor="2">  </ins>
                <script src="https://www.clubehu.com.br/assets/cmp/js/bloco.js"></script>
        

            <!--
            {{ with .Site.Params.aside.headline }}<h2>{{ . }}</h2>{{ end }}
            {{ if and .Site.Params.aside.button.link .Site.Params.aside.button.text }}
                <a href="{{ .Site.Params.aside.button.link }}" class="btn btn-default btn-xl wow tada">{{ .Site.Params.aside.button.text }}</a>
            {{ end }} 
            -->
        </div>

       

    </div>
</aside>
